dash
pandas
dash-bootstrap-components
pymongo
dnspython
dash_daq
certifi
uuid
packaging
dash-uploader
dash-iconify
dash-mantine-components
dash_tabulator
flask_login
flask
dictdiffer
openpyxl
dash-ag-grid